@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  background-color: hsl(217, 54%, 11%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 250px;
  height: 500px;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  box-shadow: -34px 22px 14px 19px rgba(0,0,0,0.1),49px 16px 29px 14px rgba(0,0,0,0.1);
}
h1 {
  font-size: 18px;
  font-weight: 500;
  padding-left: 1.5rem;
  letter-spacing: 0.5px;
}
.description {
  font-size: 13px;
  font-weight: 300;
  padding-left: 1.5rem;
  width: 250px;
  text-align: start;
  color: #ced4da;
  line-height: 1.6;
}

.eth {
  width: 10px;
  height: auto;
  padding-left: 1.5rem;
  padding-right: 5px;
}
#price {
  font-size: 13px;
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}
.bottom {
  margin-top: 2rem;
  width: 250px;
  height: 150px;
}
#time {
  color: #ced4da;
  font-size: 13px;
  font-weight: 400;
  padding-left: 1.6rem;
}
.hr {
  width: 200px;
  margin: 0 auto;
}
hr {
  background-color: hsl(215, 32%, 27%);
  border: none;
  height: 0.5px;
}
.time {
  width: 10px;
  height: auto;
  padding-right: 10px;
}
#createdby img {
  width: auto;
  height: 25px;
  padding-right: 20px;
  margin: auto;
}
#createdby {
  margin-top: -6rem;
  width: 250px;
  height: 100px;
  padding-left: 20px;
  margin-right: 5rem;
  font-size: 13px;
  color: #ced4da;
}

#Equilibrium {
  border-radius: 10px;
  border: 10px black;
  width: 220px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
#white {
    color:#ffffff;
}
